<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h2> about 페이지입니다.</h2>
    <br>
    
    wordcount는 문장의 단어를 세주는 기능을 합니다.
    <br>
    
    <a href="{% url 'home' %}">돌아가기</a>
    <br>
    
</body>
</html>